{% extends "djangocms_frontend.html" %}
{%load static cms_tags djangocms_alias_tags%}
{% block page_head %}
{{block.super}}
<script>
  (function() {
    const theme = localStorage.getItem('theme') || 'system';
    const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    if (theme === 'dark' || (theme === 'system' && isDark)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }
  })();
</script>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
{% endblock %}

{% block body_attrs %}overflow-x-hidden{% endblock %}
{% block content %}
{%static_alias 'navbar'%}
{%block core_content%}{%placeholder 'content'%}{% endblock %}
{%static_alias 'footer'%}
{% endblock %}